@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #fefefe;
    font-family: 'poppins', sans-serif;
}

html, body {
    height: 100%;
}

header {
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 100%;
    background: linear-gradient(to right, #253546, #acb1c2);
    height: 10%;
    box-shadow: 0 10px 15px black;
}

header h1 {
    padding-left: 10px;
}

.square {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: none;
    position: relative;
    scale: .9;
    transition: .3s;
}

.square::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 9px;
  margin-top: -5px;
  top: 50%;
  left: 10px;
  right: 10px;
  z-index: 9;
}

.square::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 9px;
  margin-left: -5px;
  left: 50%;
  top: 10px;
  bottom: 10px;
  z-index: 9;
}

.square:hover {
    box-shadow: 0 0 15px #fefefe;
    scale: 1;
}

.main {
    padding-top: 6px;
    padding-bottom: 15px;
    min-width: 100%;
    background: #504d4d;
    margin-top: 10px;
}

.button {
    color: white;
    --b: 4px;
    width: 40px;
    border: 10px solid #000;
    background: conic-gradient(from 90deg at var(--b) var(--b),#000 90deg,#fff 0) 
    calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
    calc(50%  + var(--b))   calc(50%  + var(--b));
    display: inline-block;
}

.grid {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: linear-gradient(to right, #0f0c29, #3c367a, #26264b);
    border: 2px solid black;
    border-radius: 1em;
    width: 230px;
    height: 180px;
    padding: 10px;
    font-size: 17px;
} 

.cards button {
    border-radius: 10px;
    width: 120px;
    height: 100px;
}

.popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 43%;
    border: 3px solid black;
    background: #504d4d;
    align-items: center;
    transform: translate(-50%, -50%) scale(0); 
    transition: 0.3s ease-in-out;
    visibility: hidden;
    border-radius: 10px;
    height: 250px;
    width: 300px;
    gap: 15px;
    padding: 5px;
}

.popup input {
    color: #000;
    width: 200px;
    height: 30px;
}

.popup button {
    color: #000;
    width: 100px;
    height: 40px;
}

.open-popup {
    visibility: visible;
    transform: translate(1%, 1%) scale(1);
}