@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #fefefe;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100%;
}

header {
    top: 0;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 100%;
    background: linear-gradient(to right, #253546, #acb1c2);
    height: 10%;
    box-shadow: 0 4px 16px black;
}

header h1 {
    padding-left: 10px;
}

.square {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: none;
    position: relative;
    scale: .9;
    transition: .3s;
}

.square::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 9px;
  margin-top: -5px;
  top: 50%;
  left: 10px;
  right: 10px;
  z-index: 9;
}

.square::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #fff;
  width: 9px;
  margin-left: -5px;
  left: 50%;
  top: 10px;
  bottom: 10px;
  z-index: 9;
}

.square:hover {
    box-shadow: 0 0 15px #fefefe;
    scale: 1;
}

.main {
    padding-top: 6px;
    padding-bottom: 15px;
    min-width: 100%;
    background: #504d4d;
    margin-top: 10px;
    min-height: 850px;
}

.grid {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 30px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: linear-gradient(to right, #191442, #433d8b, #262657);
    border: 4px solid rgb(46, 44, 190);
    border-radius: 1em;
    width: 230px;
    height: 180px;
    padding: 10px;
    font-size: 17px;
    transition: .4s;
    box-shadow: 0 0 20px black;
}

.cards:hover {
    scale: 1.05;
    box-shadow: 0 0 20px 5px rgb(25, 62, 185), 0 0 25px 5px white;
}

.cards button {
    border-radius: 10px;
    width: 120px;
    height: 100px;
}

.popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 43%;
    border: 3px solid black;
    background: #504d4d;
    align-items: center;
    transform: translate(-50%, -50%) scale(0); 
    transition: 0.3s ease-in-out;
    visibility: hidden;
    border-radius: 10px;
    height: 250px;
    width: 300px;
    gap: 15px;
    padding: 5px;
}

.popup input {
    color: #000;
    width: 200px;
    height: 30px;
}

.popup button {
    color: #000;
    width: 100px;
    height: 40px;
}

.open-popup {
    visibility: visible;
    transform: translate(1%, 1%) scale(1);
}

.footer {
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #253546, #acb1c2);
    box-shadow: 0 -4px 16px black;
    transition: 0.4s;
    font-size: 23px;
}

.footer a svg {
    scale: 1.1;
    transition: .7s;
}

.footer a svg:hover {
    rotate: 360deg;
}
